@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.landing-page{
  width: 100%;
  height: 100vh;
  background-color: #16181D;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
}

.main-section{
  display: flex;
  padding-top: 11%;
  align-items: center;
  justify-content: space-around;
}

.landing-section{
  text-align: right;
  padding-top: 10px;
}

.header{
  padding-top: 1px;
  z-index: 1;
  top: 0;
  position: sticky;
  background: #16181D;
  text-align: center;
}

.menu-list{
  display: inline-block;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-list li{
  display: inline-block;
  min-width: 15em;
  margin: 0 0.5em;

}

.menu-list li a{
  text-decoration: none;
  color: #adb5bd;
  font-family: 'Jolly Lodger', cursive;
  font-weight: 400;
  font-size: 40px;
  transition: 0.6s ease;
  text-align: center;
}

.menu-list li a:hover{
  background-color: #d00000;
  color: white;
  border-radius: 5px;
  padding: 5px;
  transform: scale(3.04);
  text-shadow: 1px 1px;
}

.landing-section-heading{
  font-family: 'Monoton', cursive;
  font-size: 60px;
  color: #d90429;
  font-weight: 300;
  margin: 0%;
  text-shadow: 3px 3px;
  word-spacing: 0px;
}

.landing-section-text{
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  font-weight: 350;
  color: #adb5bd;
  width: 3ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 20s steps(64) infinite alternate;
  border-right: 2px solid black;
}
@keyframes text{
  0%{
    width: 0ch;
  }
  50%{
    width: 64ch;
  }
}

.btn-download{
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 14px;
  border-radius: 4px;
  font-family: 'Jolly Lodger', cursive;
}

.btn-download a{
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}
.btn-download a:hover,
.btn-download:hover {
  background-color: #fff;
  color: #293241;
}

/*FIRST SECTION END */

/*SECOND SECTION */

.second-section{
  width: 100%;
  height: 100vh;
  background-color: #adb5bd;
  padding: 5%;
  box-sizing: border-box;
}

.second-section-heading{
  font-family: 'Nosifer', cursive;
  font-size: 30px;
  text-decoration: underline;
  color: #212529;
  font-weight: 800;
  margin: 0;
}

.section-desc{
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  color: #212529;
  font-weight: 800;
  margin: 0;
  padding: 5px;
}
.section-desc li{
  list-style: none;
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  color: #212529;
  font-weight: 800;
  margin: 0;
}

.svg{
  float: right;
  padding-right: 70px;
  padding-top: 30px;
}

/*THIRD SECTION*/

.third-section{
  width: 100%;
  height: 100vh;
  padding: 5%;
  background-color: #16181D;
  /*
  background-image: url('assests/122.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  */
}

.col{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  transition: 0.2s ease;
}

.col:hover{
  transform: scale(1.14);
}

.col img{
  width: 100%;
  height: 120px;
  object-fit: fill;
  opacity: 0.5;
}
.card{
  padding: 5px;
}
.items{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 20px;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  margin: 0 300px;
}

.col img:hover{
  opacity: 1;
}

.svg1{
  padding-top: 50px;
  float: right;
}

.svg2{
  padding-top: 50px;
  float: left;
}

/*THIRD SECTION END*/


/*FOURTH SECTION*/

.fourth-section{
  width: 100%;
  height: 100vh;
  padding: 5%;
  background-image: url('assests/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container2{
  max-width: 550px;
  width: 100%;
  background: #90caf9;
  padding: 5px 25px;
  border-radius: 10px 90px 10px 90px;
}

.container2 .title{
  font-size: 40px;
  font-weight: 3000;
  position: relative;
  font-family: 'Staatliches', cursive;
}

.container2 .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 400px;
  background: #001233;
}

.container2 span{
  font-family: 'Staatliches', cursive;
  font-weight: 2000;
  font-size: 25px;
}

.container2 form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 6px 0;
}

form .user-details .input-box{
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
  display: block;
  font-weight: 500;
  margin-bottom: 1px;
}

form .user-details .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

form .button{
  height: 45px;
  margin: 35px 0;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-weight: 300;
  font-size: 25px;
  border-radius: 5px;
  background-color: #0077b6;
  font-family: 'Staatliches', cursive;
}

.btn{
  size: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  border-radius: 1px;
  transition: 0.6s ease;
}

.btn:hover{
  background-color: #d00000;
  border-radius: 60%;
  transform: scale(1.04);
  transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}